<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="data/css/index.min.css">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="data/js/index.min.js"></script>
    <title>Demo Template</title>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div id="title" class="middle flex horizontal">
        <img id="titleimg" loading="lazy" alt="Image" style="width: 64px; height: 64px">
        <h2>Demo Template</h2>
    </div>

    <div id="content" class="middle">
        <div class="page">
            <h1>Welcome to Demo Template</h1>
        </div>
        <div class="page">
            <h1>Page 2</h1>
            <p>This is page 2.</p>
        </div>
    </div>

    <div id="contorl" class="flex fixed horizontal">
        <button id="lastbtn">&#60;&#60;</button>
        <p id="pagetxt"></p>
        <button id="nextbtn">&#62;&#62;</button>
    </div>
</body>

</html>